{% extends 'base.html.twig' %}

{% block title %}Commande{% endblock %}

{% block body %}
    <h1>Commande</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ commande.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ commande.date ? commande.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ commande.status }}</td>
            </tr>
            <tr>
                <th>Utilisateur_id</th>
                <td>{{ commande.utilisateurId }}</td>
            </tr>
        </tbody>
    </table>

    <h1>Articles dans la commande</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Article</th>
                <th>Quantité</th>
            </tr>
        </thead>
        <tbody>
            {% for commandeArticle in articles %}
                <tr>
                    <td>{{ commandeArticle.article.nom }}</td>
                    <td>{{ commandeArticle.quantite }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="2">Aucun article ajouté à cette commande.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_commande_index') }}">back to list</a>

    <a href="{{ path('app_commande_edit', {'id': commande.id}) }}">edit</a>

    <a href="{{ path('app_commande_add_article', {'id': commande.id}) }}" class="btn btn-success mt-3">Ajouter des articles</a>

    {{ include('commande/_delete_form.html.twig') }}
{% endblock %}
